@font-face { font-family: 'DroidSans'; src:url('/fonts/DroidSans.ttf');} 
@font-face { font-family: 'DroidSans-Bold'; src:url('/fonts/DroidSans-Bold.ttf');} 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,
b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {	margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%;	vertical-align: baseline;	background: transparent; }
ol, ul {	list-style: none; }
* {	font-size: 100%;	font-family: "DroidSans", sans-serif; }
body {	background-color: #F3F3F3;	font-size: 14px;	font-family: "DroidSans", sans-serif;	color: #404040;line-height: 1; }
a {	color: #000;	text-decoration: none;	-webkit-transition: all, .3s; }
a:hover {	color: #B94A3E; }
p {	margin: 0 0 15px; line-height:16px; }
h1 {	font-size: 24px;	font-weight: bold; padding: 0;	line-height: 1.3;font-family:'DroidSans-Bold';text-shadow: 0px 1px 1px #FFF;text-shadow: 0px 1px 2px #FFF;	}
h2 {	font-size: 20px;	font-weight: 100; line-height: 1.3;text-shadow: 0px 1px 2px #333;}
h3 {	font-size: 15px;	font-weight: bold;	margin: 10px 0 6px 0;	color: #000;	text-shadow: 0px 1px 2px #FFF;	line-height: 1.3; }
header {	width: 100%;}
#header {	width: 800px;	padding: 20px;	margin: 0px auto;	overflow: hidden; }
ul.nav {	margin: 0;	padding: 0;	float: right;	list-style: none;	overflow: hidden;}
ul.nav li {	margin: 0 0 0 25px;	padding: 0;	float: left;}
.intro {	width: 100%;	background: #5CB555; -moz-box-shadow: 1px 1px 12px #333 inset; overflow: hidden; box-shadow: 1px 1px 12px #333 inset; -webkit-box-shadow: 0 1px 10px #006600 inset; }
#intro {	width: 800px;	padding: 20px;	margin: 0px auto;	color: #fff;	overflow: hidden;	line-height: 1.6; text-align:center;}
#intro h1 {	color: #fff;	margin: 0;	padding: 0;}
.content {	width: 100%; }
#content {	width: 800px;	padding: 40px;	margin: 0px auto;	overflow: hidden;	line-height: 1.6;}
#content ul {	margin: 0 0 15px 10px;	padding: 15px;	list-style: disc;}
#content ol {	margin: 0 0 15px 10px;	padding: 0 0 0 15px;	list-style: decimal;}
#content li {	margin: 0 0 3px 0;}
#contacts {	width:720px;	padding: 40px 20px;	margin:0 auto;	overflow: hidden;}
#contacts ul li {	margin: 0 30px 0 0;	float: left;}
.card {
background:url("/images/shadow_left.png") no-repeat scroll left bottom transparent;height:auto; float: left;margin:5px 0 0 20px;overflow:hidden;width:220px;}
.card > div {background:url("/images/shadow_right.png") no-repeat scroll right bottom transparent; padding:10px;}
#tour {-moz-border-radius:12px 12px 12px 12px;-moz-box-shadow:1px 1px 3px #CCCCCC;border-radius:12px 12px 12px 12px;box-shadow:1px 1px 3px #CCCCCC;background-color:#FFFFFF;border:1px solid #CCCCCC;color:#111111;padding:20px;clear:both;display:block;margin:20px auto;position:relative;width:800px;}
.downbox {	width: 100%;	background: #303030;background-image:url("/images/sombra_fundo_sup.png");background-position:center top;background-repeat:repeat-x;display:block;}
#tags {}
.tag { padding: 5px; background-color: #DDD; color: #000; font-size: 8px; margin:2px 1px;-moz-border-radius:2px; border-radius:2px;}
#section {	width: 800px;	margin: 0px auto;	padding: 40px;	overflow: hidden;	color: #707070;	overflow: hidden;}
#section h2 {	color: #fff; }
#section p {	line-height: 2; }
div.left{ width: 400px; float: left; }
div.right{ width: 400px; float: right; }
form input {border-radius: 5px;	background: #FFF;	padding: 9px;	font-size: 12px;-moz-border-radius:2px 2px 2px 2px;-moz-box-shadow:0 0 10px #EEEEEE inset;background-color:#FFFFFF;border:1px solid #CCCCCC;border-radius:2px 2px 2px 2px;box-shadow:0 0 10px #EEEEEE inset; margin:5px;}
.field { margin: 5px; clear:both;height:1%;overflow:hidden;padding:10px 0;}
.label {	width: 50px; font-size: 12px;	font-weight: bold;	color: #707070; margin:10px; padding:5px; position:absolute; }
form input[type=submit], form button, select {	padding: 9px 13px 9px;	}
.input{margin-left: 70px;}
.form { font-size: 10px; color: gray; }
footer {	width: 100%; }
#footer {	width: 800px;	padding: 40px;	margin: 0px auto;	font-size: 11px;	overflow: hidden;	line-height: 1.6;}
#footer a {	font-weight: bold;}
.postit {background:url("/images/did-you-notice.jpg") no-repeat scroll -357px 100% transparent;margin-top:8px;padding:14px;width:200px;}
.postit h4 {background:url("/images/did-you-notice.jpg") no-repeat scroll 0 0 transparent;margin-bottom:5px;
padding:14px 0 0 17px;}
.postit p {padding:0 17px;margin-bottom:20px;}
.clear {clear:both;}
.css1{font-size:1.0em;}
.css2{font-size:1.2em;}
.css3{font-size:1.4em;}
.css4{font-size:1.6em;}


