<div id="content">
  <div class="left">
    <h3>Como eu me cadastro?</h3><br />
    <p>Não é necessário um cadastro de usuário. Apenas preencha seus dados e nos envie. Você irá receber um email pedindo a confirmação da sua participação.</p><br />
    <h3>Você pode se cadastrar agora!</h3><br />
    <div class="card"><%= render 'form' %></div>
    <br />
  </div>
  
  <div class="right">
    <p class="large">Reunimos os desenvolvedores e webdesigners disponíveis para projetos freela em Natal.</p>
    <br />
    <h3>Como eu posso remover meu cadastro?</h3><br />
    <p>Ao lado do seu nome existe um link, que ao clicar envia um email para você pedindo a confirmação da exclusão da sua participação no NerdsFree.
    </p><br />
    <h3>Só podem participar pessoas da área de informática?</h3><br />
    <p>Sim. Porém, o código fonte desta aplicação está disponível no GitHub para quem quiser colocar essa idéia para funcionar em outras cidades e outras áreas de atuação. O NerdsFree se reserva no direito de remover qualquer anúncio no nosso mural sem qualquer aviso prévio se considerar que o cadastro não pertence ao escopo da informática.</p><br />
  </div>
</div>
