<!DOCTYPE html>
<html>
  <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/></head>
  <body>
    <h1>Hey, <%= @user.name %></h1>
    <p>
      Você solitou a remoção da sua participação no site <%= link_to 'NerdsHall', root_path %>.
      NerdsHall é um mural de contatos de desenvolvedores e webdesigners freelancer em Natal.
    </p>
    <p>
      Para confirmar e remover seu contato <%= link_to 'clique aqui!', @url %>.
    </p>
  </body>
</html>
